@media ( min-width:1510px){

    .borda-topo-conheca img{
        display: none;
    }

}



@media ( min-width:1800px){

    .imagem-home img{
        width: 1000px;
        
    }

    #conheca-nos{
        height: 130vh;
    }

    .texto-home h1{
        left: 0;
        margin-left: 100px;
        margin-top: 350px ;
        font-size: 110px;
    }

    .texto-home p{
        margin-top: 800px;
        font-size: 35px;
    }

}




@media ( max-width:1200px){
    .imagem-home img{
        width: 950px;
        
    }

    .texto-home p{
        margin: 0px;
        width: 100%;
        margin-top: 80px;
    }
}

@media ( max-width:1000px){

    #home{
        height: 100vh;
    }

    .imagem-home img{
        width: 700px;
        
    }

    .texto-home{
        justify-content: left;
        width: 100%;
    }

    .texto-home p{
        width:100%;
        text-align: left;
        margin-left: 20px;
    }

    .borda-topo-conheca img{
        display: none;
    }

}



@media ( max-width:870px){

    .subtitulo-produtos{
        margin-left: 30px;
        flex-wrap: wrap;
    }

    span{
        display: none;
    }

    .imagem-home{
        width: 100%;
    }

    .imagem-home img{
        width: 600px;
        
    }

    #conheca-nos{
        height: 1000px;

    }

    .textos-conheca{
        height: fit-content;
    }

}


@media ( max-width:768px){
    .p-encomendas{
        display: flex;
        flex-wrap: wrap;
        margin: 30px 20px 50px 20px;
    }

    #conheca-nos{
        height: 950px;
    }


    br{
        display: none;
    }

    #home{
        height: 100vh;
    }

    .texto-home h1{
        font-size: 88px;

    }

    .subtitulo-produtos{
        text-align: center;
        margin-left: 50px;
    }

    .produto img{
        width: 300px;
    }
}

@media ( max-width:693px){

    .produto img{
        width: 280px;
        height: 170px;
    }
}



@media ( max-width:586px){


    .cabecalho{
        max-width: 100%;
        justify-content: center;
        align-items: center;
        gap: 20px;
        position: fixed;

    }
    .botoes-naveg{
       max-width: 100%; 
       justify-content: center;
       
    }

    .botoes-naveg a{
        font-size: 14px;
        padding: 5px 10px;
    }

    .logo img{
        width: 80px ;
    }
    .home{
        position: relative;
        width: 100%;
        height: auto;
        flex-direction: column;
    }

    .texto-home{
        flex-direction: column;
        gap: 70px;
        width: 100%;
       margin-left: 50px;
       margin-top: 80px;

      
    }

    br{
        display: none;
    }

    .texto-home h1{
        width: 100%;
        font-size: 80px;
    }

    .texto-home p{
        height: 20px;
        margin: 0px;
    }

    .imagem-home{
        width: 100%;
    }

    .imagem-home img{
        width: 600px;
      
        
    }

    .subtitulo-produtos{
        font-size: 25px;
    }

    span{
        display: none;
    }

    .produto img{
        width: 200px;
        height: 125px;
    }

    #conheca-nos{
        height: 1000px;
    }
}



@media ( max-width:520px){


    .cabecalho{
        top: 0;
        left: 0;
        width: 100vw ;
        justify-content: center;
        text-align: center;
        box-shadow: none;
        height: 130px;
        flex-direction: column;
        gap: 0px;

    }

    .botoes-naveg{
        max-width: 100vw ; 
        justify-content: center;
        align-items: center;
        text-align: center;
        
     }

     .logo{
        max-width: 100vw ;
        justify-content: center;
        align-items: center;
        text-align: center;
     }

    .logo img{
        width: 75px ;
        margin-top: 10px;
        margin-bottom: -30px;
    }
    
    .botoes-naveg a{
        font-size: 14px;
        padding: 5px 10px;
        margin-bottom: 15px;
        margin-left: 2px;
    }

    .botoes-naveg{
        max-width: 100%;
        justify-content: center;
        justify-items: center;
        gap: 5px;
        margin-top: 35px;
    }

    #home{
        height: 100vh;
    }

    .texto-home{
        flex-direction: column;
        gap:50px;
        width: 100%;
       margin-left: 50px;
       margin-top: -40px;

      
    }

    .texto-home h1{
        margin-top: -40px;
        width: 100%;
        font-size: 80px;
    }

    .texto-home p{
        width: 100%;
        height: 20px;
        margin: 0px;
        margin-left: -29px;
    }
   
    br{
        display: none;
    }

    .subtitulo-produtos{
        margin-left: 30px;
        text-align: center;
    }

    .imagem-home img{
        width: 500px;
        
    }

    .produto img{
        width:290px ;
        height: 160px;
    }

    #conheca-nos{
        height: 1000px;

    }

    .textos-conheca{
        max-width: 82%;
        font-size: 16px;
    }

}



@media ( max-width:412px){

    .imagem-home img{
        width: 390px;
        
    }

    .texto-home{
        align-items: center;
        width: 100%;
       gap: 50px;
      margin-left: 50px;
      margin-top: 40px;
      
    }

    br{
        display: none;
    }

    .texto-home h1{
       white-space: normal; 
       word-wrap: break-word; 
       overflow-wrap: break-word;
        flex-wrap: wrap;
        width: 100%;
        font-size: 80px;
        margin-top: -40px;
    }

    .texto-home p{
        width: 100%;
        height: 20px;
        margin: 0px;
    }

    .produto img{
        width:290px ;
        height: 160px;
    }

    #conheca-nos{
        height: 1000px;

    }

    .subtitulo-conheca{
        font-size: 33px;
    }

    .textos-conheca{
        max-width: 82%;
        font-size: 16px;
    }

}



@media ( max-width:380px){

    .cabecalho{
        height: 155px;
       display: flex; 
       flex-direction: row;
       align-items: center;
       gap: 50px;

    }

    .botoes-naveg{
        flex-direction: column;
        margin-bottom: 13px;
        margin-top: 18px;
     }

     .botoes-naveg a{
        margin-bottom: 4px;
        width: 110px;
     }

     .logo img{
        width: 100px ;
        margin-top: 18px;
        margin-bottom: 5px;
    }

    #home{
        height: 130vh;
    }

    .texto-home{
        width: 100%;
        gap: 10px;
        margin-left: 50px; 
     margin-top: 80px;
    }
    
    .texto-home h1{
        width: 100%;
        white-space: normal; 
        word-wrap: break-word; 
        overflow-wrap: break-word; 
        font-size: 80px;
    }
    
    
    .texto-home p{
        width: 100%;
        font-size: 25px;
    }


    .subtitulo-produtos{
        margin-left: 30px;
    }

    .imagem-home img{
        width: 400px;
        
    }


    .produto img{
        width:290px ;
        height: 160px;
    }

    #conheca-nos{
        height: 1000px;

    }

    .subtitulo-conheca{
        font-size: 35px;
    }

    .textos-conheca{
        max-width: 82%;
        font-size: 16px;
        height: auto;
    }

}

@media ( max-width:300px){
    #conheca-nos{
        height: 1000px;
    }
}